In [1]:
from sklearn.model_selection import train_test_split

# Assuming X is your feature matrix and y is your target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# If you want a validation set, you can further split the training set
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

In [2]:
import pandas as pd
mydata = pd.read_csv("D:\\Babby\\Babby project\\preprocessed_stock_data.csv")

In [3]:
mydata.describe()

,Open,High,Low,Close,Adj Close,Volume
count,248.000000,248.000000,248.000000,248.000000,248.000000,2.480000e+02
mean,203.136371,203.855847,200.224677,201.825040,201.825040,2.881579e+06
std,10.331272,10.019956,9.651572,9.747698,9.747698,1.417208e+06
min,176.110001,187.149994,176.110001,184.250000,184.250000,0.000000e+00
25%,195.417503,196.455005,192.957497,194.392498,194.392498,1.981991e+06
50%,200.709999,201.324997,198.900002,199.790001,199.790001,2.504974e+06
75%,212.587498,214.104996,207.699997,212.659999,212.659999,3.384891e+06
max,222.729996,226.199997,221.110001,222.570007,222.570007,9.584276e+06

In [4]:
import numpy as np

In [6]:
x = np.array(mydata["Close"]).reshape(-1,1)

In [7]:
x.shape

(248, 1)

In [8]:
y = np.array(mydata["Volume"])

In [9]:
y.shape

(248,)

In [12]:
y = np.array(mydata["Close"])

In [13]:
y.shape

(248,)

In [14]:
from sklearn.model_selection import train_test_split

# Replace 'your_feature_data' with your actual feature matrix
# Replace 'your_target_data' with your actual target variable
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# If you want a validation set, you can further split the training set
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)